@import "../../scss/main";

.Record {
  box-sizing: border-box;
  height: $album-dimension-big;
  perspective: 150rem;
  position: relative;
  width: $album-dimension-big;
  &:nth-of-type(3n + 1) &__side--back {
    background-image: url("../../assets/img/discog/recordback.jpg");
  }
  &:nth-of-type(3n + 2) &__side--back {
    background-image: url("../../assets/img/discog/recordback2.jpg");
  }
  &:nth-of-type(3n + 3) &__side--back {
    background-image: url("../../assets/img/discog/recordback3.jpg");
  }
  @include respond(tab-port) {
    height: $album-dimension-med;
    width: $album-dimension-med;
  }
  @include respond(phone) {
    height: $album-dimension-sml;
    width: $album-dimension-sml;
  }
  &__name {
    color: $color-text-header;
    font-family: $font-header;
    font-size: 3rem;
    font-weight: 200;
    margin-left: 1.2rem;
    @include paragraphShadow;
    @include respond(tab-port) {
      font-size: 2rem;
      margin-left: 0.8rem;
    }
  }
  &__artist {
    color: $color-text-header;
    font-family: $font-header;
    font-size: 2.5rem;
    font-weight: 200;
    margin-left: 1.2rem;
    @include paragraphShadow;
    @include respond(tab-port) {
      font-size: 1.666rem;
      margin-left: 0.8rem;
    }
  }
  &__credits {
    color: $color-text-header;
    font-family: $font-paragraph;
    font-size: 1.8rem;
    hyphens: auto;
    margin: auto 1.2rem;
    @include paragraphShadow;
    @include respond(tab-port) {
      font-size: 1.2rem;
      margin: auto 0.8rem;
    }
  }
  &__side {
    backface-visibility: hidden;
    border-radius: 1rem;
    box-sizing: border-box;
    position: absolute;
    height: $album-dimension-big;
    left: 0;
    overflow: hidden;
    top: 0;
    transition: transform 800ms ease;
    width: $album-dimension-big;
    @include respond(tab-port) {
      height: $album-dimension-med;
      width: $album-dimension-med;
    }
    @include respond(phone) {
      height: $album-dimension-sml;
      width: $album-dimension-sml;
    }
    &--front {
      background-color: white;
      &-infobox {
        @include discogInfobox;
      }
    }
    &--back {
      background-color: black;
      background-size: cover;
      transform: rotateY(180deg);
      &-infobox {
        @include discogInfobox;
      }
    }
    box-shadow: 0 0.5rem 4px rgba(black, 0.3);
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }
  &__cover {
    max-width: $album-dimension-big;
    max-height: $album-dimension-big;
    width: 100%;
    @include respond(tab-port) {
      max-height: $album-dimension-med;
      max-width: $album-dimension-med;
    }
    @include respond(phone) {
      max-height: $album-dimension-sml;
      max-width: $album-dimension-sml;
    }
    height: 100%;
    object-fit: cover;
  }

  @media only screen and (hover: none) {
    &__side--front-infobox {
      display: none;
    }
    &__side--back-infobox {
      transform: rotateY(0deg) scaleX(-1);
      //   transform: scaleY(-1);
    }
    &:hover &__side--front {
      transform: rotateY(0deg);
    }
    &:hover &__side--back {
      transform: rotateY(-180deg);
    }
  }
}
