@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: black;
  overflow-x: hidden !important; }

.Film {
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 8px;
  box-sizing: border-box;
  border-collapse: separate;
  transform: scale(1); }
  .Film:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1); }
  .Film__cover {
    width: 100%;
    border-radius: 5px 5px 0 0; }
  .Film__link {
    text-decoration: none;
    color: black; }
  .Film__info {
    background-color: white;
    padding: 1rem 1.3rem;
    margin-top: 0;
    height: 100%;
    border-radius: 5px; }
  .Film__header {
    font-family: League Gothic;
    font-size: 3rem;
    font-weight: 200; }
  .Film__paragraph {
    font-family: Open Sans;
    font-size: 1.8rem;
    hyphens: auto; }
