@import "../../scss/main";
.Film {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: black;
  min-height: 24.2rem;
  transform: scale(1);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  &__cover {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  &__link {
    color: black;
    text-decoration: none;
  }
  &__info {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    margin-top: 0;
    padding: 1rem 1.3rem;
  }
  &__header {
    font-family: $font-header;
    font-size: 3rem;
    font-weight: 200;
  }
  &__paragraph {
    font-family: $font-paragraph;
    font-size: 1.8rem;
    hyphens: auto;
  }
}
