@import '../../scss/main';
.Toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $color-main;
  height: 56px;
  &__logo {
      margin-left: 1rem;
    & a {
      color: white;
      text-decoration: none;
      font-size: 2.5rem;
    }
  }
  &__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    &-items {
      & ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
      }
      & li {
        padding: 0 0.5rem;
      }
      & a {
        color: $color-text-header;
        text-decoration: none;
        font-size: 2rem;
        font-family: $font-header;
        &:hover {
          color: $color-accent-1;
        }
        &:active {
          color: $color-accent-1;
        }
      }
    }
  }
  &__spacer {
    flex: 1;
  }
}
