@import url("https://fonts.googleapis.com/css?family=Mukta:400,700|Old+Standard+TT:400i|Open+Sans+Condensed:700");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #1e272e; }

.Toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1e272e;
  height: 56px; }
  .Toolbar__logo {
    margin-left: 1rem; }
    .Toolbar__logo a {
      color: white;
      text-decoration: none;
      font-size: 2.5rem; }
  .Toolbar__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem; }
    .Toolbar__navigation-items ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
    .Toolbar__navigation-items li {
      padding: 0 0.5rem; }
    .Toolbar__navigation-items a {
      color: #d2dae2;
      text-decoration: none;
      font-size: 2rem;
      font-family: Open Sans Condensed; }
      .Toolbar__navigation-items a:hover {
        color: #05c46b; }
      .Toolbar__navigation-items a:active {
        color: #05c46b; }
  .Toolbar__spacer {
    flex: 1; }
