.Toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #521751;
  height: 56px; }
  .Toolbar__logo {
    margin-left: 1rem; }
    .Toolbar__logo a {
      color: white;
      text-decoration: none;
      font-size: 1.5rem; }
  .Toolbar__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem; }
    .Toolbar__navigation-items ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
    .Toolbar__navigation-items li {
      padding: 0 0.5rem; }
    .Toolbar__navigation-items a {
      color: white;
      text-decoration: none; }
      .Toolbar__navigation-items a:hover {
        color: #fa923f; }
      .Toolbar__navigation-items a:active {
        color: #fa923f; }
  .Toolbar__spacer {
    flex: 1; }
