@import url("https://fonts.googleapis.com/css?family=Open+Sans");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: black;
  overflow-x: hidden !important; }

.SideDrawer {
  height: 100%;
  background: black;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  max-width: 20rem;
  z-index: 200; }
  .SideDrawer h1 {
    color: white;
    font-family: League Gothic;
    font-size: 4.5rem;
    margin-bottom: 1rem; }
  .SideDrawer a {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    font-family: League Gothic; }
    .SideDrawer a:hover, .SideDrawer a:active {
      color: #05c46b; }
  .SideDrawer li {
    padding: 0.5rem;
    margin: 0 4.5rem; }
    .SideDrawer li:not(:last-of-type) {
      border-bottom: dotted 1px #1c2126; }
  .SideDrawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .SideDrawer i {
    font-size: .9em;
    font-weight: 200;
    margin: 0.4rem;
    margin-top: 2rem; }
  .SideDrawer-enter {
    opacity: 0.5;
    transform: translateX(-100%); }
  .SideDrawer-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in-out; }
  .SideDrawer-exit {
    opacity: 1;
    transform: translateX(0%); }
  .SideDrawer-exit-active {
    opacity: 0.5;
    transform: translateX(-100%);
    transition: all 300ms ease-in-out; }
