@import '../../scss/main';
.SideDrawer {
  height: 100%;
  background: $color-main;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 40rem;
  // max-width: 400px;
  z-index: 200;
  & a {
    color: $color-text-header;
    text-decoration: none;
    font-size: 2rem;
    font-family: $font-header;
    &:hover,
    &:active {
      color: $color-accent-1;
    }
  }
  & li {
    margin: 0.5rem 0;
  }
  & ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  //CSSTransition classes
  &-enter {
    opacity: 0.5;
    transform: translateX(-100%);
  }
  &-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in-out;
  }
  &-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  &-exit-active {
    opacity: 0.5;
    transform: translateX(-100%);
    transition: all 300ms ease-in-out;
  }
}
