@import "../../scss/main";
.SideDrawer {
  height: 100%;
  background: $color-footer-bg;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  max-width: 20rem;
  z-index: 200;
  & h1 {
    @include headerShadow;
    color: white;
    font-family: $font-header;
    font-size: 4.5rem;
    margin-bottom: 1rem;
  }
  & a {
    color: $color-text-header;
    @include headerShadow;
    text-decoration: none;
    font-size: 3rem;
    font-family: $font-header;

    &:hover,
    &:active {
      color: $color-accent-1;
    }
  }
  & li {
    // width: 15rem;
    padding: 0.5rem;
    margin: 0 4.5rem;
    &:not(:last-of-type) {
      border-bottom: dotted 1px darken($color-secondary, 20%);
    }
  }
  & ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  & i {
    font-size: .9em;
    font-weight: 200;
    margin: 0.4rem;
    margin-top: 2rem;
  }
  //CSSTransition classes
  &-enter {
    opacity: 0.5;
    transform: translateX(-100%);
  }
  &-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in-out;
  }
  &-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  &-exit-active {
    opacity: 0.5;
    transform: translateX(-100%);
    transition: all 300ms ease-in-out;
  }
}
