@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@mixin headerShadow {
  text-shadow: 0.2rem 0.2rem $color-secondary;
}
@mixin paragraphShadow {
  text-shadow: 0.1rem 0.1rem black;
}
@mixin container {
  width: 80%;
  padding: 10rem;
}
@mixin absCenterContainer {
  @include container;
  @include absCenter;
}

@mixin header {
  font-family: $font-header;
  font-weight: 200;
  font-size: 6rem;
  @include headerShadow;
  &:nth-of-type(even) {
    text-align: right;
  }
}

@mixin paragraph {
  font-family: Open Sans;
  font-weight: 200;
  font-size: 2rem;
  text-indent: 3.5rem;
  hyphens: auto;
  text-align: justify;
  @include paragraphShadow;
}
@mixin discogInfobox {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  position: absolute;
  top: 5%;
  background-color: rgba(black, 0.7);
}
// MEDIA QUERY MANAGER
// -------------------
// 600-900: tablet in portrait
// 900-1200: tablet in landscape
// [1200-1800] is where our normal styles apply
// 1800+: big desktop
//  choices for breakpoint argument:
// -phone
// -tab-port
// -tab-land
// -big-desktop
// 1em = 16px
// -------------------
@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  } //600px
  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  } // 900px
  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  } // 1200px
  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  } // 1800px
}
