$color-main: #1e272e;
$color-text-header: #d2dae2;
$color-secondary: #485460;
$color-accent-1: #05c46b;
$color-accent-2: #0be881;

$font-header: Open Sans Condensed;
$font-subhead: Old Standard TT;
$font-paragraph: Mukta;