$color-main: black;
$color-text-header: #d2dae2;
$color-secondary: #485460;
$color-accent-1: #05c46b;
$color-accent-2: #0be881;

$font-header: League Gothic;
$font-subhead: League Gothic;
$font-paragraph: Open Sans;

$album-dimension: 33rem;
