@import "../../../scss/main";

.Contact {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/img/newdrums.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: $color-text-header;
  @media screen and (max-height: 21.25em)  {
    height: 45rem;
  }
  &__container {
      @include absCenterContainer;
    
    &-header {
      @include header;
    }
    &-paragraph {
      @include paragraph;
    }
    &-ul {
      font-family: Open Sans;
      font-weight: 200;
      font-size: 2rem;
      left: 50%;
      list-style: none;
      padding-top: 2rem;
      position: absolute;
      text-indent: 2rem;
      transform: translate3d(-50%, 0, 0);
      @include paragraphShadow;
      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }
  &__bttn {
    transform: translate3d(0, 0, 0) scale(1);
    transition: transform 200ms ease-in-out;
    backface-visibility: hidden;
    &:hover, &:active {
      transform: translate3d(0, -0.2rem, 0) scale(1.1);
    }
    & a {
      text-decoration: none;
      color: darken($color-text-header, 25);
      @media only screen and (hover: none) {
        color: $color-text-header
      }
    }
  }
}
