@import "../../../scss/main";

.About {
  height: 100%;
  background-image: url("../../../assets/img/aboutme.jpg");
  background-size: cover;
  background-position: center center;
  color: $color-text-header;
  &__container {
    @include absCenterContainer;
    &-header {
      @include header;
    }
    &-paragraph {
        @include paragraph;
    }
  }
}
