@import "../../../scss/main";

.About {
  background: url("../../../assets/img/aboutme.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  color: $color-text-header;
  transition: ease 200ms;
  @media screen and (min-height: 37.5em) {
    height: 100vh;
  }
  &__container {
    @include container;
    @media screen and (min-height: 37.5em) {
      @include absCenter;
    }
    &-header {
      @include header;
    }
    &-paragraph {
      @include paragraph;
      & a {
        color: $color-text-header;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
