@import url("https://fonts.googleapis.com/css?family=Open+Sans");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: black;
  overflow-x: hidden !important; }

.About {
  min-height: 100vh;
  background: url("../../../assets/img/aboutme.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  transition: ease 200ms; }
  .About__container {
    box-sizing: border-box;
    width: 100%;
    padding: 10rem; }
    @media only screen and (max-width: 37.5em) {
      .About__container {
        padding: 2rem;
        padding-top: 5.5rem; } }
    @media screen and (min-height: 52.188em) {
      .About__container {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }
    .About__container-header {
      font-family: League Gothic;
      font-weight: 200;
      font-size: 6rem;
      text-shadow: 0.2rem 0.2rem #485460; }
      .About__container-header:nth-of-type(even) {
        text-align: right; }
      @media only screen and (max-width: 37.5em) {
        .About__container-header {
          font-size: 3.5rem; } }
    .About__container-paragraph {
      font-family: Open Sans;
      font-weight: 200;
      font-size: 2rem;
      text-indent: 3.5rem;
      hyphens: auto;
      text-align: justify;
      text-shadow: 0.1rem 0.1rem black; }
      @media only screen and (max-width: 37.5em) {
        .About__container-paragraph {
          font-size: 1.5rem;
          padding: 1.2rem .5rem; } }
