@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: black;
  overflow-x: hidden !important; }

.Home {
  height: 100vh;
  background-image: url("../../../assets/img/studio.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white; }
  .Home__hero {
    cursor: pointer;
    height: 45rem;
    background-image: url("../../../assets/img/elephantlogo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right; }
    @media screen and (min-height: 35.4em) {
      .Home__hero {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); } }
    @media screen and (max-height: 35.39999em) {
      .Home__hero {
        transform: translateY(5rem); } }
    @media only screen and (max-width: 75em) {
      .Home__hero {
        height: 59rem;
        background-position: bottom center;
        min-width: 59.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .Home__hero {
        height: 34rem;
        background-position: bottom center;
        min-width: 31.2667rem; } }
    .Home__hero-header {
      position: relative;
      top: 25%;
      transform: translateY(-2.9rem);
      text-shadow: 0.2rem 0.2rem #485460; }
      .Home__hero-header-h1 {
        text-align: center;
        font-size: 15rem;
        font-family: League Gothic;
        line-height: 0.95em;
        font-weight: 200; }
        @media only screen and (max-width: 75em) {
          .Home__hero-header-h1 {
            font-size: 15.5rem; } }
        @media only screen and (max-width: 37.5em) {
          .Home__hero-header-h1 {
            font-size: 7.5rem; } }
      .Home__hero-header-h2 {
        text-align: center;
        font-size: 3.3rem;
        letter-spacing: 0.5rem;
        font-family: League Gothic;
        font-weight: 200; }
        @media only screen and (max-width: 75em) {
          .Home__hero-header-h2 {
            font-size: 4.7rem;
            letter-spacing: 0.2rem; } }
        @media only screen and (max-width: 37.5em) {
          .Home__hero-header-h2 {
            font-size: 2.2rem;
            letter-spacing: 0.1rem; } }
