@import "../../../scss/main";

.Home {
  background-image: url("../../../assets/img/studio.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: $color-text-header;
  height: 100vh;
  min-height: 34vh;
  @media screen and (max-height: 40.625em) {
    min-height: 66rem;
  }
  &__hero {
    background-image: url("../../../assets/img/elephantlogo.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 59rem;
    @media screen and (min-height: 35.4em) {
      @include absCenter;
    }
    @media screen and (max-height: 35.39999em) {
      transform: translateY(5rem);
    }
    @include respond(tab-land) {
      background-position: bottom center;
      height: 59rem;
      min-width: 59.5rem;
    }
    @include respond(phone) {
      background-position: bottom center;
      height: 34rem;
      min-width: 31.2667rem;
    }
    &-header {
      top: 25%;
      transform: translateY(-2.9rem);
      position: relative;
      @include headerShadow;
      &-h1 {
        text-align: center;
        font-size: 15.5rem;
        @include respond(tab-land) {
          font-size: 15.5rem;
        }
        @include respond(phone) {
          font-size: 7.5rem;
        }
        font-family: $font-header;
        font-weight: 200;
        line-height: 0.95em;
      }
      &-h2 {
        font-size: 4.7rem;
        letter-spacing: 0.2rem;
        text-align: center;
        @include respond(tab-land) {
          font-size: 4.7rem;
          letter-spacing: 0.2rem;
        }
        @include respond(phone) {
          font-size: 2.2rem;
          letter-spacing: 0.1rem;
        }
        font-family: $font-subhead;
        font-weight: 200;
      }
    }
  }
}
