@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: black;
  overflow-x: hidden !important; }

.Footer {
  background-color: #0f0f0f;
  box-sizing: border-box;
  clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 100%, 0% 100%);
  color: white;
  font-family: Open Sans;
  padding: 3rem 0;
  transform: translate(0, -2.8rem);
  transition: transform 300ms ease-in-out; }
  @media only screen and (max-width: 37.5em) {
    .Footer {
      clip-path: polygon(0% 0%, 50% 5%, 100% 0%, 100% 100%, 0% 100%); } }
  .Footer-open {
    transform: translate(20rem, -2.8rem); }
  .Footer__flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .Footer a {
    color: white;
    text-decoration: none; }
  .Footer__cols {
    box-sizing: border-box;
    font-size: 1.2rem;
    padding: 0 3rem;
    width: 29rem; }
    @media only screen and (max-width: 37.5em) {
      .Footer__cols {
        width: 30.1rem; } }
  .Footer__left {
    border-right: 1px #363636 solid;
    font-family: LeagueGothic;
    font-size: 3rem;
    padding-top: 2.2rem;
    text-align: right;
    text-shadow: 0.2rem 0.2rem #485460; }
    @media only screen and (max-width: 37.5em) {
      .Footer__left {
        border: 0;
        border-bottom: 1px #363636 solid;
        padding-bottom: 2rem;
        padding-top: 0;
        text-align: center;
        font-size: 3.5rem; } }
  .Footer__right {
    text-align: left;
    font-size: 1.6rem; }
    @media only screen and (max-width: 37.5em) {
      .Footer__right {
        border-bottom: 1px #363636 solid; } }
  .Footer__list {
    list-style: none;
    margin-top: 0rem;
    padding: 0;
    width: 18.5rem; }
    @media only screen and (max-width: 37.5em) {
      .Footer__list {
        margin: 2.4rem auto; } }
    .Footer__list li {
      margin: 0.2rem 0; }
  .Footer__logobox {
    animation: Gradient 10s ease infinite;
    background: linear-gradient(270deg, #4c49b2, #db4eb2, #fbfc79, #0eb7e1);
    background-size: 800% 800%;
    height: 10rem;
    margin: 2rem 0;
    mask: url(../../assets/img/elephantlogoonecolor.svg);
    mask-position: bottom center;
    mask-repeat: no-repeat;
    mask-size: contain;
    padding: 0; }
