@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: black;
  overflow-x: hidden !important; }

.App {
  background-color: black; }
  .App__contentBox {
    position: relative;
    transform: translate3d(0);
    transition: 300ms ease-in-out; }
    .App__contentBox-open {
      transform: translate3d(20rem, 0, 0); }
