@import url("https://fonts.googleapis.com/css?family=Open+Sans");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: black;
  overflow-x: hidden !important; }

.App {
  background-color: black; }
  .App__contentBox {
    height: 100vh;
    transform: translateX(0);
    transition: 300ms ease-in; }
    .App__contentBox-open {
      transform: translateX(20rem); }
      @media only screen and (max-width: 37.5em) {
        .App__contentBox-open {
          transform: translateX(70vw); } }
