@import './scss/main';
.App {
    // height: 100%;
    background-color: $color-main;
    &__contentBox {
        height: 100vh;
        position: relative;
        transform: translate3d(0);
        transition: 300ms ease-in-out;
        &-open {
            transform: translate3d(20rem,0,0);
            
        }
    }
}

