@import url("https://fonts.googleapis.com/css?family=Mukta:400,700|Old+Standard+TT:400i|Open+Sans+Condensed:700");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #1e272e;
  overflow-x: hidden !important; }

.App {
  background-color: #1e272e; }
  .App__contentBox {
    height: 100vh;
    transform: translateX(0);
    transition: 300ms ease-in; }
    .App__contentBox-open {
      transform: translateX(40rem); }
      @media only screen and (max-width: 37.5em) {
        .App__contentBox-open {
          transform: translateX(70vw); } }
