@import './scss/main';
.App {
    // height: 100%;
    background-color: $color-main;
    &__contentBox {
        height: 100vh;
        transform: translateX(0);
        transition: 300ms ease-in;
        &-open {
            transform: translateX(20rem);
            @include respond(phone){
                transform: translateX(70vw)
            }
        }
    }
}

