@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: 'LeagueGothic';
  src: url("./assets/webfont/leaguegothic.eot");
  src: url("./assets/webfont/leaguegothic.eot?#iefix") format("embedded-opentype"), url("./assets/webfont/leaguegothic.woff") format("woff"), url("./assets/webfont/leaguegothic.ttf") format("truetype"), url("./assets/webfont/leaguegothic.svg#fontname") format("svg"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: black;
  overflow-x: hidden !important; }
