@import "../../../scss/main";

.Discography {
  //   height: 100%;
  background-image: url("../../../assets/img/record.jpg");
  background-size: cover;
  background-position: center center;
  
  color: $color-text-header;
  &__container {
    @include container;
    margin: auto;
    
    &-header {
      @include header;
    }
    &-discoGrid {
        margin-top: 4rem;
      display: grid;
      align-items: center;
      justify-content: center;
      grid-gap: 3rem;
      grid-template-columns: repeat(auto-fit, minmax(28rem, $album-dimension));
    //   grid-auto-rows: 100% 100%;
    }
  }
}
