@import url("https://fonts.googleapis.com/css?family=Open+Sans");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: black;
  overflow-x: hidden !important; }

.Discography {
  background-image: url("../../../assets/img/record.jpg");
  background-size: cover;
  background-position: center center;
  color: white; }
  .Discography__container {
    box-sizing: border-box;
    width: 100%;
    padding: 10rem;
    margin: auto; }
    @media only screen and (max-width: 37.5em) {
      .Discography__container {
        padding: 2rem;
        padding-top: 5.5rem; } }
    .Discography__container-header {
      font-family: League Gothic;
      font-weight: 200;
      font-size: 6rem;
      text-shadow: 0.2rem 0.2rem #485460; }
      .Discography__container-header:nth-of-type(even) {
        text-align: right; }
      @media only screen and (max-width: 37.5em) {
        .Discography__container-header {
          font-size: 3.5rem; } }
    .Discography__container-discoGrid {
      margin-top: 4rem;
      display: grid;
      align-items: center;
      justify-content: center;
      grid-gap: 3rem;
      grid-template-columns: repeat(auto-fit, minmax(28rem, 33rem)); }
