@import url("https://fonts.googleapis.com/css?family=Open+Sans");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: black;
  overflow-x: hidden !important; }

.Discography {
  background: #485460;
  color: #d2dae2; }
  .Discography__container {
    width: 80%;
    padding: 10rem;
    margin: auto; }
    .Discography__container-header {
      font-family: League Gothic;
      font-weight: 200;
      font-size: 6rem;
      text-shadow: 0.2rem 0.2rem #485460; }
      .Discography__container-header:nth-of-type(even) {
        text-align: right; }
    .Discography__container-discoGrid {
      margin-top: 4rem;
      display: grid;
      align-items: center;
      justify-content: center;
      grid-gap: 3rem;
      grid-template-columns: repeat(auto-fit, minmax(28rem, 33rem)); }
